@import "./transfonter.org-20250419-085251/stylesheet.css";

:root {
  --font-body: "Roboto Condensed";
  --font-headings: "Roboto";

  --thin: 100;
  --light: 300;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;
  --regular: 400;

  --size--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --size--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --size-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --size-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --size-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --size-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --size-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --size-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
  --size-6: clamp(3.3592rem, 2.8691rem + 2.4507vw, 4.7684rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-headings);
  font-weight: var(--extrabold);
}

img {
  display: block;
  max-width: 100%;
}

p {
  line-height: 1.5;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.15);
  z-index: 999;
}

.navbar__logo {
  font-family: var(--font-headings);
  padding: 0.5rem;
  display: block;
  outline-offset: 0.125rem;
  text-decoration: none;
  font-size: var(--size-2);
  font-weight: bold;
  color: black;
}

.navbar__logo:focus {
  outline: 0.25rem dotted black;
}

.navbar__links {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 1rem;
}

.navbar__link {
  text-decoration: none;
  color: black;
  font-size: var(--size-0);
  outline-offset: 0.125rem;
  padding: 0.75rem 1.5rem;
  border-radius: 5rem;
  display: block;
}

.navbar__link:hover,
.currentPage {
  background: black;
  color: white;
}

.navbar__link:focus {
  outline: 0.25rem dotted black;
}

.currentPage {
  font-weight: bold;
}

.btn-primary {
  font-family: var(--font-headings);
  font-weight: bold;
  color: white;
  background: black;
  border-radius: 5rem;
  border: none;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  text-decoration: none;
  outline-offset: 0.125rem;
  font-size: var(--size--1);
}

.btn-primary:hover {
  background: #404040;
}

.btn-primary:focus {
  outline: 0.25rem dotted black;
}

.btn-secondary {
  font-family: var(--font-headings);
  font-weight: var(--bold);
  color: black;
  border: none;
  border-radius: 5rem;
  padding: 0.75rem 1.5rem;
  display: inline-block;
  text-decoration: none;
  font-size: var(--size--1);
  outline-offset: 0.125rem;
}

.btn-secondary:hover {
  background: whitesmoke;
}

.btn-secondary:focus {
  outline: 0.25rem dotted grey;
}

.hero {
  height: 37.5rem;
  display: flex;
  align-items: center;
  padding: 5rem;
}

.hero__home {
  background: url("img/hero-home.webp");
  background-attachment: fixed;
  color: white;
}

.hero__title {
  font-size: var(--size-5);
  margin-bottom: 1rem;
}

.hero__text {
  font-size: var(--size-1);
  font-weight: 400;
}

.section {
  padding: 6rem;
}

.section__title {
  font-size: var(--size-4);
  margin-bottom: 1.5rem;
}

.section__text {
  font-size: var(--size-1);
}

.img-center {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.section__img {
  border-radius: 0.5rem;
}

.section-imp {
  text-align: center;
}

.models {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
}

.model {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 0.5rem;
  font-size: 2rem;
  height: 20rem;
}

.red {
  background: linear-gradient(45deg, red, purple);
}

.blue {
  background: linear-gradient(45deg, blue, darkblue);
}

.cyan {
  background: linear-gradient(45deg, cyan, darkcyan);
}

.footer {
  padding: 4rem;
}

.footer__cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.download {
  background: whitesmoke;
}

.download-box {
  background: white;
  border-radius: 1rem;
  padding: 4rem;
  text-align: center;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  margin-top: 1rem;
}

.footer__link {
  text-decoration: none;
  max-width: fit-content;
  color: #404040;
  display: inline-block;
  padding: 0.25rem;
  outline-offset: 0.25rem;
  font-size: var(--size-0);
}

.footer__link:hover {
  font-weight: var(--medium);
  text-decoration: underline;
}

.footer__link:focus {
  outline: 0.125rem dotted;
}

.section__cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
  align-items: center;
}

.footer__siteCols {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.footer__item--title {
  font-size: var(--size-0);
}

.tabs {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 0.75rem;
  border-radius: 5rem;
}

.tabs > * {
  flex: 1;
}

.tab {
  padding: 0.75rem 1.5rem;
  display: block;
  font-size: var(--size-1);
  text-decoration: none;
  color: black;
  font-weight: var(--light);
  border-radius: 5rem;
}

.tab:hover {
  background: black;
  font-weight: var(--semibold);
  color: white;
}

.activeTab {
  background: black;
  color: white;
  font-weight: var(--semibold);
}

.hero__products {
  background: url("img/hero-products.webp");
  background-size: cover;
  color: white;
  background-attachment: fixed;
}

.contact__cols {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  align-items: center;
}

.contact {
  background: whitesmoke;
}

.hero__contact {
  background: url("img/hero-contact.webp");
  background-size: cover;
  color: white;
}

.hero__contact .hero__title {
  text-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  font-size: 4rem;
}

.fl {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.fl__model {
  background: white;
  color: black;
  padding: 2.5rem;
  border-radius: 0.5rem;
}

.fl-sect {
  background: whitesmoke;
}

input,
textarea,
select {
  width: 30rem;
  display: block;
  font-size: 1.125rem;
  padding: 0.5rem;
  font-family: inherit;
}

input:focus,
textarea:focus,
select:focus {
  outline: 0.25rem solid black;
}

button[type="submit"] {
  cursor: pointer;
}

textarea {
  height: 10rem;
}

.form__item {
  margin-block: 1rem;
}

label {
  font-size: 1.125rem;
  display: block;
  margin-bottom: 1rem;
}

.conf {
  padding: 2rem;
  background: black;
  color: white;
  border-radius: 1rem;
}

.conf h1 {
  font-size: 2rem;
}

.conf p {
  font-size: 1.25rem;
}

details {
  margin-block: 1rem;
  font-size: 1.125rem;
  text-align: left;
}

summary {
  padding: 0.75rem 1rem;
  background: rgb(226, 226, 226);
  /* outline: 0.15rem solid black; */
  user-select: none;
  cursor: pointer;
  font-family: var(--font-headings);
  font-weight: var(--bold);
  font-size: var(--size-0);
}

summary:focus {
  outline: 0.25rem dotted black;
}

details p {
  background: #cccccc;
  padding: 0.5rem 1rem;
  font-size: var(--size-0);
}

/* toggle */
.navbar__toggle {
  display: block;
  padding: 0.5rem;
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 0.125rem;
  display: none;
  /* transition: 100ms ease-in-out; */
}

.navbar__toggle:focus {
  outline: 0.25rem dotted black;
}

.navbar__toggle--icon {
  width: 1.5rem;
}

.navbar__wrapper2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* max-width: fit-content; */
}

/* Media queries */
@media screen and (max-width: 700px) {
  .section {
    padding: 1rem;
  }

  .navbar {
    width: 100%;
    min-width: fit-content;
    padding: 1rem;
    /* width: 100%; */
  }

  .navbar__wrapper2 {
    width: 100%;
  }

  .section-imp {
    padding: 1rem;
  }

  .hero {
    padding: 1rem;
  }

  .download {
    padding: 1rem;
  }

  .download-box {
    padding: 1rem;
  }

  img {
    display: block;
    max-width: 100%;
  }

  .img-center {
    padding: 0.25rem;
  }

  .contact__cols {
    grid-template-columns: 1fr;
  }

  .section__cols {
    grid-template-columns: 1fr;
  }

  .models {
    grid-template-columns: 1fr;
  }

  .section__title {
    text-align: left;
    font-size: 1.5rem;
  }

  .section__text {
    text-align: left;
  }

  .section__text {
    font-size: 1.125rem;
  }

  .footer__cols {
    grid-template-columns: 1fr 1fr;
  }

  .navbar {
    flex-direction: column;
    gap: 1rem;
  }

  .navbar__links {
    display: none;
    flex-direction: column;
    gap: 1rem;
  }

  .btn-center {
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
  }

  input,
  textarea,
  select {
    max-width: 20rem;
  }

  .footer__siteCols {
    flex-direction: column;
  }
  .navbar__toggle {
    font-size: 1.25rem;
    display: block;
  }
}

.menuOpen {
  display: flex;
}

.footer__copy {
  font-size: var(--size-0);
}

.status {
  font-size: var(--size-0);
}
